{% block content %}
<section class="uk-container uk-text-center">

    <!-- LOGO -->
    <div class="uk-inline uk-padding-small@l uk-align-left@l">
        <a href="{{ url_for('index') }}"><img height="60" width="80" src="{{ url_for('static', filename='images/logo_small_white.png') }}" alt="foodie logo" uklogo></a>
    </div>
    
    <!-- MIDDLE TEXT -->
    <div class="uk-inline uk-text-bold uk-margin-small-top">
        <span class="uk-padding-small uk-text-nowrap">Healthy Eating |</span>
        <span>|</span>
        <span class="uk-padding-small uk-text-nowrap">Cookaroo</span>
    </div>

   
</section>
{% endblock %}